auto-py-to-exe
beautifulsoup4
click
colorama
customtkinter
cvzone
darkdetect
Eel
Flask
Flask-Cors
Flask-SocketIO
firebase-admin
gTTS
gunicorn
Jinja2
joblib
matplotlib
opencv-python
openpyxl
pandas
pillow
pygame
pyinstaller
pyttsx3
requests
soupsieve
tqdm
