<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>SeñaMex</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        <script src="//code.tidio.co/hvvsgaqr2badvtky2tmtxhuikwiqne5b.js" async></script>
    </head>
    <body class="d-flex flex-column h-100 bg-light" style="position: relative; min-height: 100vh; background-image: url('/assets/hero.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="/inicio.html"><span class="fw-bolder text-primary">SeñaMex</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="/inicio.html">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="alfabeto.html">Gestos del Alfabeto</a></li>
                            <li class="nav-item"><a class="nav-link" href="deletreo.html">Deletreo</a></li>
                            <!--<li class="nav-item"><a class="nav-link" href="grafico.html">Gráfico</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="proyecto.html">Sobre el Proyecto</a></li>
                            <li class="nav-item"><a class="nav-link" href="contacto.html">Equipo</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="py-5">
            </header>
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Equipo</span></h1>
                </div>
                <div class="container">
                    <div class="text-center">
                        <h3 class="fs-3 fw-light text-muted">Estudiantes de la UTSJR</h3>
                    </div>
                    <div class="row">
                        <!-- Empieza miembro del equipo -->
                                                <!-- Repite los otros tres miembros del equipo con col-lg-3 -->
                                                <div class="team-member">
                                                    <img class="mx-auto rounded-circle" src="/assets/equipo/ALISON.png" alt="..." />
                                                    <h4>Alison Hernández</h4>
                                                    <p class="text-muted">Developer</p>
                                                    <a href="https://www.instagram.com/kkook_to_kki_/" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-instagram"></i></a>
                                                    <a href="https://github.com/AliKory" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-github"></i></a>
                                                    <a href="https://www.linkedin.com/in/alison-hern%C3%A1ndez-198280296?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-linkedin"></i></a> 
                                            </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="/assets/equipo/JONA.png" alt="..." />
                                <h4>Jonathan Cadena</h4>
                                <p class="text-muted">Product Owner</p>
                                <a href="https://www.instagram.com/kdena864?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-instagram"></i></a>
                                <a href="https://github.com/kdena04" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-github"></i></a>
                                <a href="https://www.linkedin.com/in/jonathan-cadena-vega-520384271?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bd7osVLKMSoi5W3ufaRfznQ%3D%3D" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-linkedin"></i></a> 
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="/assets/equipo/DEMIAN.png" alt="..." />
                                                    <h4>Demian Chávez</h4>
                                                    <p class="text-muted">Scrum Master</p>
                                                        <a class="" href="https://www.instagram.com/demian.chz?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-instagram"></i></a>
                                                        <a href="https://github.com/imdemian" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-github"></i></a>
                                                        <a href="https://www.linkedin.com/in/demian-ch%C3%A1vez-rodr%C3%ADguez-970605245/" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-linkedin"></i></a>                                                 
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="/assets/equipo/ALEXIS.png" alt="..." />
                                <h4>Alexis Bernal</h4>
                                <p class="text-muted">Developer</p>
                                <a  href="https://www.instagram.com/bernaaal.an/" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-instagram"></i></a>
                                <a href="https://github.com/Alexisbernalnieto" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-github"></i></a>
                                <a href="#!" style="font-size: 30px; margin-right: 10px;"><i class="bi bi-linkedin"></i></a> 
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        
    </body>
</html>

