<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>SeñaMex</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        <script src="http://localhost:3000/socket.io/socket.io.min.js" defer></script>
        <script src="js/script.js" defer></script>
    </head>
    <body class="d-flex flex-column h-100 bg-light" style="position: relative; min-height: 100vh; background-image: url('/assets/hero.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;"></body>
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="/inicio.html"><span class="fw-bolder text-primary">SeñaMex</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="/inicio.html">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="alfabeto.html">Gestos del Alfabeto</a></li>
                            <li class="nav-item"><a class="nav-link" href="deletreo.html">Deletreo</a></li>
                            <!--<li class="nav-item"><a class="nav-link" href="grafico.html">Gráfico</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="proyecto.html">Sobre el proyecto</a></li>
                            <li class="nav-item"><a class="nav-link" href="contacto.html">Equipo</a></li>
                            <li class="nav-item"><a class="nav-link" href="/index.html">Salir</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <br>
            <div class="header-container">
                <div class="header-left">
                  <h1>Reducir las brechas de<br>
                      comunicación para las personas<br>
                      sordas o con problemas de<br>
                      audición.</h1>
                </div>
              </div> 
              <br><br>
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
              <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class="card-body p-0">
                    <div class="d-flex align-items-center">
                        <div class="p-5">
                            <p style="text-align: justify;">Señamex, un prototipo inteligente diseñado para mejorar la comunicación de personas que utilizan el lenguaje de señas. Utiliza una Raspberry Pi y una cámara de video, para agilizar y facilitar la comunicación. Este dispositivo reconoce el lenguaje de señas (abecedario), y lo traduce, abriendo así nuevas oportunidades de comunicación para personas sordas o con problemas de audición.
                            <br><br>Señamex es un proyecto en desarrollo con la visión de convertirse en un aliado esencial para la comunicación inclusiva y el entendimiento mutuo. Busca facilitar la interacción entre personas que utilizan el lenguaje de señas y aquellas que no, promoviendo así la inclusión y la accesibilidad en la sociedad.</p>
                        </div>
                        <img class="img-fluid rounded" src="/assets/CAM.jpeg" alt="Cam Image" style="width: 300px; height: 400px;" />

                    </div>
                </div>
            </div>
            <div class="centered-content">
                <h2>Sabías que...</h2>
                <br>
                <h2>En México, aproximadamente <br>2.3 millones de personas padecen discapacidad auditiva</h2>
              </div>
            <div class="container px-5 my-5">
            </div>
            </div>
              </div> 
            <br> 
            <div class="container-f">
                <div class="service-f">
                  <h2>Aplicación móvil</h2>
                  <p>Contamos con una aplicación móvil SeñaMex, donde podrá encontrar más información sobre nuestro proyecto.</p>
                  <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder">Descargar</a>
                </div>
                <div class="service-f">
                  <h2>Redes Sociales</h2>
                  <p>Puedes ponerte en contacto con nuestro equipo a través de nuestras redes sociales.</p>
                  <br>
                  <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="./contacto.html">Ver</a>
                </div>
                <div class="service-f">
                  <h2>Web</h2>
                  <p>Contamos con una web SeñaMex, donde podrá encontrar más información sobre nuestro proyecto.</p>
                  <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="../index.html">Ir a la Web</a>
                </div>
            </div>   
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container-fluid px-5 my-5"> 
                </div>
            </section>     
    </body>
</html>
